@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
body {
    margin: 0;
    background-color: rgb(121, 191, 223);
    font-family: 'Comfortaa', cursive;
}

.tudo {
    background-color: rgb(195, 190, 241);
    border-radius: 25px;
    border: 1px solid black;
    width: 40%;
    height: 250px;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
}

input {
    display: block;
    position: absolute;
    border-radius: 5px;
    text-align: center;
    height: 25px;
}

#voltas {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    width: 80%;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

#distancia {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    width: 80%;
    color: black;
    font-weight: bold;
    background: rgb(251, 191, 157);
    background: radial-gradient(circle, rgba(251, 191, 157, 1) 10%, rgba(247, 172, 172, 1) 11%, rgba(247, 187, 171, 1) 20%, rgba(244, 184, 184, 1) 29%, rgba(253, 155, 151, 1) 41%, rgba(255, 133, 133, 1) 53%, rgba(255, 112, 143, 1) 67%, rgba(203, 109, 217, 1) 86%);
}

#paradas {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translateX(-50%);
    width: 80%;
    color: black;
    font-weight: bold;
    background: rgb(251, 191, 157);
    background: radial-gradient(circle, rgba(251, 191, 157, 1) 10%, rgba(247, 172, 172, 1) 11%, rgba(247, 187, 171, 1) 20%, rgba(244, 184, 184, 1) 29%, rgba(253, 155, 151, 1) 41%, rgba(255, 133, 133, 1) 53%, rgba(255, 112, 143, 1) 67%, rgba(203, 109, 217, 1) 86%);
}

#btn {
    position: absolute;
    left: 50%;
    top: 28%;
    transform: translateX(-50%);
    width: 30%;
    border-radius: 5px;
    height: 25px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: bold;
    background: rgb(181, 148, 233);
    background: radial-gradient(circle, rgba(181, 148, 233, 1) 3%, rgba(238, 174, 202, 1) 75%);
}

#reset {
    position: absolute;
    left: 50%;
    bottom: 4%;
    transform: translateX(-50%);
    width: 30%;
    border-radius: 5px;
    height: 25px;
    font-style: normal;
    text-decoration: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: bold;
    background: rgb(181, 148, 233);
    background: radial-gradient(circle, rgba(181, 148, 233, 1) 3%, rgba(238, 174, 202, 1) 75%);
}

#reset a {
    text-decoration: none;
    color: black;
}

h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#criadores {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
}

#utiliza {
    position: absolute;
    top: 60%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
}